.content{
  display: flex;
  flex-direction: column;
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}