.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__title{
  max-width: 709px;
  margin-top: 183px;
  position: relative;
  left: 80px;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent{
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description{
  max-width: 683px;
  position: relative;
  left: 80px;
  margin-top: 28px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image{
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
  margin-top: auto;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-right: 80px;
  padding-left: 80px;
}


.header__paragraph{
  padding: 0;
  margin: 0;
}

