.recipes {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 24px;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

.recipes__subtitle {
  max-width: 438px;
  padding-bottom: 80px;
  padding-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  column-gap: 40px;
  padding-bottom: 215px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0cap;
}

.recipes__video-caption {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipes__video-caption2 {
  color: #fff;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}