.reservation {
  background-color: #D9E7FF;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: Inter, Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin-bottom: 80px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__form {
  max-width: 385px;
  width: 100%;
  margin-bottom: 32px;
  border: #838383;
}

.reservation__form-label {
  font-family: Inter, Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  margin: 0;
}

.reservation__form-input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 8px;
}

.reservation__form-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  max-width: 385px;
  color: #ffffff;
  background-color: #2f80ed;
  border-radius: 4px;
}

.reservation__item_check-align {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.reservation__form-button:hover {
  opacity: 0.7;
}